
<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Show</title>
      <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="../../../public/styles/reset.css" />
      <link rel="stylesheet" href="../../../public/styles/base.css" />  
      <link rel="stylesheet" href="../../../public/styles/layout.css" />
      <link rel="stylesheet" href="../../../public/styles/icons.css" />  
  
    </head>
  <body>
    <h1>Search Results</h1>
    <ul>
    <% searchResults.forEach(book => { %>
        <li>
          <h3><%= book.title %></h3>
          <img src=<%= book.image_url %> />
          <p><%= book.author %></p>
          <p><%= book.description %></p>
          <p><%= book.isbn %></p>
          <p><%= book.imageLinks %></p>
        </li>
    <% }); %>
  </ul>
  </body>
</html>

