<!DOCTYPE html>
<html lang="en">
  
    <head>
        <%- include('./layout/head') %>
    </head>

  <body>
    <%- include('layout/header') %>
      <h1>Best Books!</h1>
      <p>Number of Books: <%= books.length %></p>

    <main>
      <ul id="book-list">
        <% books.forEach(book => { %>
          <li>
            <%- include('books/detail', { book: book}) %>
          </li>       
        <% }) %>

        </ul>
    </main>
    <%- include('layout/footer') %>
  </body>
</html>

